<div class="row">
  <div class="col-md-1">
    <b>Locale:</b> <%= translation[:locale] %>
  </div>
  <div class="col-md-5">
    <b>Key:</b> <%= translation[:key] %>
  </div>
  <div class="col-md-6">
    <i><%= translation[:filename] %></i>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div>
      <%= form_tag translation_edit_path, :class => 'translation_helper' do %>
          <%= hidden_field_tag :locale, translation[:locale] %>
          <%= hidden_field_tag :key, translation[:key] %>
          <%= text_area_tag :value, '', :class => 'form-control autosize', 'data-update' => 'value_ta', :placeholder => 'Translate here...' %>
          <button class='btn btn-default'>
            Add
          </button>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="editor_container">
      <div>
        <%= rails_embed_editor(translation[:filename], :line => translation[:line], :radius => 4,
                               :editormode => RailsEmbedEditor::EditorMode::READ_WRITE,
                               :highlight => translation[:line]) %>
      </div>
    </div>
  </div>
</div>