<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : 'I18n Admin Utils' %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag 'i18n_admin_utils/application', :media => 'all' %>
  <%= javascript_include_tag 'i18n_admin_utils/application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'rails_embed_editor/application' %>
  <%= stylesheet_link_tag 'rails_embed_editor/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
  <%= render :partial => 'layouts/i18n_admin_utils/navigation' %>
</header>
<div role="main" class='theme-showcase'>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => 'layouts/i18n_admin_utils/messages' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>